.browse-page{
    /* width: 200px; */
    padding: 20px;
    border-radius: 5px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.category-selector{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.category-button{
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 150px;
    height: 175px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.category-button .category-name{
    margin-top: 5px;
    font-size: 0.9rem;
    text-align: center;
}

.category-image{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.browse-title-container{
    display: flex;
    flex-direction: column;
}

.browse-title-container .back-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #007bff;
    position: absolute;
    top: 10px;
    left: 15px;
}

.browse-title-container .title{
    position: relative;
    left: -15px;
    margin:20px 0;
}
